<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="SampleFlipKartWebSiteTesting" >

    <listeners>
        <listener class-name="com.flipkart.selenium.listeners.Listener"/>
    </listeners>

    <test name="Integration Testing" >
        <classes>



        </classes>
    </test>
</suite>